# Exclude VS Code
.vscode/

# Exclude Jet Brains
.idea/

# Ignore CMake user-preset file
CMakeUserPresets.json

# Ignore log files
*.log

# Ignore build directories
build/
bin/

# Ignore testing directory
Testing/

# Ignore object files
*.obj
*.o
*.out
*.so
*.a
*.slo
*.lo